body {
	background: url(../images/back.jpg);
	text-align: center;
	overflow: hidden;
}

h1 {
	text-align: center;
	font-size: 50px;
	display: inline;
	color: white;
}

a {
	float: right;
	border: 50px, 50px;
	font-size: 25px;
	font-weight: 500;
	font-weight: bold;
	color: white;
}